.sub {
            background-color: rgb(200, 0, 0);
            color: white;
            border: none;
            height: 36px;
            width: 105px;
            border-radius: 12px;
            cursor: pointer;
            margin-right: 8px;
            transition: opacity 1s;

        }
        .sub:hover{
            background-color: green;
        }
        .join{
            background-color: rgb(41, 118, 211);
            height: 30px;
            width: 96px;
            border-radius: 10px;
            cursor: pointer;
            border-width: 4px;
            border-style: solid;
            border-color:rgb(200, 0, 0);
            
        }
        .join:hover{
            background-color: rgb(200, 0, 0);
            color: rgb(41, 118, 211);
        }
        .tweet{
            background-color: indigo;
            color:brown;
            height: 42px;
            width: 102px;
            cursor: pointer;
            border-radius: 9px;
            border-width: 2px;
            border-style: solid;
            border-color: yellowgreen;
            margin-left: 9px;
            font-weight:  bold;
            font-size: 16px;
            transition: opacity 2s;
            box-shadow: 10px 10px 10px black;

        }
        .tweet:hover{
            opacity: 0.7;
        }